@charset "UTF-8"; /* Define o conjunto de caracteres como UTF-8 */

#twosection {
    margin: 20px auto 0 auto; /* Define as margens do elemento #twosection */
    padding: 2px; /* Define o preenchimento interno do elemento #twosection */
    text-align: center; /* Centraliza o texto dentro de #twosection */
    border: 5px solid var(--cor08); /* Define uma borda sólida de 5px com uma cor personalizada */
    max-width: 570px; /* Define a largura máxima do elemento #twosection */
    min-height: 80px; /* Define a altura mínima do elemento #twosection */
    border-radius: 5px; /* Define um raio de borda arredondada de 5px para #twosection */
    display: flex; /* Define um modelo de exibição flexível para o layout */
    align-items: center; /* Alinha os itens verticalmente no centro */
    justify-content: center; /* Centraliza os itens horizontalmente */
}

section a#button {
    background-color: var(--cor06); /* Define a cor de fundo para links com ID 'button' */
    font-family: var(--fontbold); /* Define a fonte para links com ID 'button' */
    padding: 5px; /* Define o preenchimento interno para links com ID 'button' */
    color: var(--corbranca); /* Define a cor do texto para links com ID 'button' */
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.267); /* Adiciona uma sombra à caixa do botão */
    margin-right: 20px; /* Define uma margem direita de 20px para o botão */
}

section #button:hover {
    text-decoration: none; /* Remove a sublinhado do link quando hover */
    font-size: 18px; /* Aumenta o tamanho da fonte ao passar o mouse sobre o botão */
}

/* Define regras de estilo para telas com largura máxima de 768 pixels (dispositivos móveis) */
@media screen and (max-width: 768px) {
    section h1 {
        text-align: center; /* Centraliza o texto do cabeçalho h1 */
        font-size: 1.2em; /* Define o tamanho da fonte do cabeçalho h1 como 1.2 vezes o tamanho padrão */
    }
    
    section p {
        font-size: 1em; /* Define o tamanho da fonte dos parágrafos como o tamanho padrão */
    }

    #twosection {
        max-width: 370px; /* Redefine a largura máxima para o elemento #twosection */
        min-height: 50px; /* Redefine a altura mínima para o elemento #twosection */
    }

    #twosection h2 {
        font-size: 1em; /* Define o tamanho da fonte do cabeçalho h2 como o tamanho padrão */
    }

    section a#button {
        font-size: 0.8em; /* Define o tamanho da fonte para links com ID 'button' como 0.8 vezes o tamanho padrão */
    }

    section #button:hover {
        text-decoration: none; /* Remove a sublinhado do link quando hover */
        font-size: 0.9em; /* Aumenta o tamanho da fonte ao passar o mouse sobre o botão */
    }
}